/* Definindo a fonte padrão */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #3c184e;
}

/* Seção 1 (Banner) */
.secao-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 120px 80px;
    background-image: url('img/banner-topo.jpg');
    background-position: center;
    background-size: cover;
}

.secao-1 .logo {
    max-width: 250px;
    color: #3c184e;
}

.secao-1 .logo img {
    width: 30px;
    margin-right: 5px;
}

.secao-1 .logo p {
    font-size: 20px;
    margin: 5px 0;
}

.secao-1 .titulo h1 {
    font-size: 35px;
    margin: 0;
}

.secao-1 .titulo a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

/* Seção 2 (Serviços) */
.secao-2 {
    padding: 120px 80px;
    text-align: center;
}

.secao-2 h2 {
    font-size: 36px;
    color: #3c184e;
    margin-bottom: 20px;
}

.secao-2 ul {
    list-style-type: square;
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 50px;
    color: #3c184e;
}

.secao-2 ul li {
    margin-bottom: 20px;
}

.secao-2 img {
    width: 150px;
    height: 240px;
    border-radius: 5px;
    box-shadow: 3px 6px 10px 6px rgba(0, 0, 0, 0.36);
    margin: 0 15px;
}

/* Seção 3 (Faixa) */
.secao-3-faixa {
    background-color: #3c184e;
    color: #fff;
    padding: 120px 80px;
    text-align: center;
}

.secao-3-faixa h2 {
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 20px;
}

.secao-3-faixa a {
    margin: 0 20px;
    text-decoration: none;
}

.secao-3-faixa img {
    width: 50px;
    height: 50px;
}

/* Seção 4 (Marcas) */
.secao-4 {
    padding: 120px 80px;
    text-align: center;
}

.secao-4 h2 {
    font-size: 36px;
    color: #3c184e;
    margin-bottom: 45px;
}

.secao-4 img {
    width: 148px;
    height: 148px;
    margin: 0 15px;
}

/* Seção 5 (Faixa 2) */
.secao-5-faixa {
    background-color: #3c184e;
    color: #fff;
    padding: 120px 80px;
    text-align: center;
}

.secao-5-faixa h2 {
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 20px;
}

.secao-5-faixa a {
    margin: 0 20px;
    text-decoration: none;
}

.secao-5-faixa img {
    width: 50px;
    height: 50px;
}

/* Seção 6 (Onde Estamos) */
.secao-6 {
    padding: 120px 80px;
    text-align: center;
}

.secao-6 h2 {
    font-size: 36px;
    color: #3c184e;
    margin-bottom: 45px;
}

.secao-6 p {
    font-size: 20px;
    color: #3c184e;
    margin-bottom: 45px;
}

.secao-6 iframe {
    width: 800px;
    height: 450px;
    border: 0;
}

/* Rodapé */
.secao-7 {
    background-color: #3c184e;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.secao-7 p {
    font-size: 12px;
}
